:root {
    --main-color: #63b6ed;
    --secondary-color: #688ea3;
    --accent-color: #f2f3f2;
    --text-color: #223465;
  }

  body {
    background: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    font-family: 'Montserrat', sans-serif !important;
    color: var(--text-color);
    background-size: cover;
    background-attachment: fixed;
    height: auto;
  }
  .App-logo {
    height: 200px;
    display: block;
    margin: 0 auto;
  }

  a {
    color: var(--secondary-color);
    font-weight: 800;
  }
    footer {
        display: block;
        font-size: 18px;
        max-width: 80%;
        margin: 0 auto;
        text-align: center;
        padding: 15px 0px 30px 0px;
      }
      .container-box {
        background-color: #fff;
        box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
        border-radius: 8px;
        max-width: 90%;
        margin: 15px auto;
        padding: 20px 30px;
      }

      /*Responsive Styles */
@media (min-width: 1300px) {
    .container-box {
    max-width: 900px
    }
  }
  @media (max-width: 400px) {
    .container-box {
      max-width: 90%;
    }
    .App-logo {
      height: 150px;
    }
    form div {
      flex-wrap: wrap;
    }
    .mx-1 {
      margin: 5px 0px 0px 0px !important;
      
    }
  }
